* {
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

p {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

#dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}

.arc {
  stroke: white;
  stroke-width: 0.3px;
}

.aantalObjecten {
  display: none;
  stroke: none;
}

.label {
  display: none;
  stroke: none;
}



.bar-text {
  display: none;
}

.group-bar:hover {

  .bar-text {
    display: block;
  }

  .bar {
    opacity: 0.5;
  }
}

.arc:hover {
  opacity: 0.8;

  .label {
    display: block;
  }

  .aantalObjecten {
    display: block;
  }
}

.y-axis text {
  font: 10px sans-serif;
}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 1em;
  border-bottom: 1px solid gray;

  .logo {
    img {
      width: 300px;
    }
  }
}